[googleTracker]
==
        <!-- Scripts -->
        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',
            'assets/vendor/bootstrap/js/bootstrap.js',
            'assets/vendor/jquery-ui/jquery-ui.js',
            'assets/vendor/parsley.remote.js',
            'assets/vendor/parsley.js',	
            'assets/javascript/app.js'
        ]|theme }}"></script>
        {% scripts %}

        <!-- Preloader -->
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>

        {% component 'googleTracker' %}
    </body>
</html>