     <!-- Footer -->
        <footer id="layout-footer">
        </footer>

        <div class="stripe-loading-indicator loaded"><div class="stripe"></div><div class="stripe-loaded"></div></div>
        <!-- Scripts -->
        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',
            'assets/javascript/app.js'
        ]|theme }}"></script>
<!-- TODO move these into some sort of unified way to load assets -->
        {% scripts %}

    </body>
</html>

