==
<!DOCTYPE html>
<html>
    <head>
        <title>Friends - {{ this.page.title }}</title>
        <meta name="author" content="Dallas Museum of Art">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/logo.png'|theme }}" />
        {% styles %}
        <link href="{{ [
            'assets/css/theme.css',
            'assets/css/badge.css',
            'assets/css/reward.css',
            'assets/vendor/bootstrap/css/bootstrap.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body class="{{ this.page.baseFileName }}">

    <!-- Header -->
    <header id="layout-header">
        {% if user %}
        <!-- Nav -->
        <nav id="layout-nav" class="navbar-inverse" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse navbar-main-collapse">

                    <ul class="nav navbar-nav">
                        <li><img class="user-avatar" src="{{ user.avatar }}"></li>
                        <li><h4 class="user-name">Hello, {{ user.metadata.first_name }}</h4></li>
                        <li><span class="points">{{ user.points }} Points</span></li>
                        <li><a class="activity-feed icon-list" href="/activity-stream">Activity Stream</a></li>
                        <li><a class="notifications-feed icon-list" href="/notifications">Notifications</a></li>
                        <li><a class="group-feed icon-list" href="/group">Groups</a></li>
                        <li><a class="user-logout icon-cancel" href="/logout">Sign out</a></li>
                    </ul>

                </div>
            </div>
        </nav>
        {% endif %}

    </header>

    <div id="flashMessages">
    {% flash %}
        {% if type == 'error' %}
            <div class="btn btn-danger alert alert-{{ type }}">{{ message }}</div>
        {% else %}
            <div class="btn btn-{{ type }} alert alert-{{ type }}">{{ message }}</div>
        {% endif %}
    {% endflash %}
    </div>
