{% if enableAction %}
<div id="card-scan" class="popup ltd">
    <p>Log in with your DMA Friends card! Use the guide on the screen to help you line up your membership card to the camera.</p>
</div>
{% endif %}

<form id="login" method="POST" {% if enableAction %}style="display: none;"{% endif %}>
	<span id="errorBlock" class="text-danger text-uppercase"></span>

    <div class="form-group">
        <label>Email address or Member ID</label>
        <input type="text" name="login" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control"/>
    </div>

	<div class="btn-toolbar">
		<a class="pull-left help small pop" href="#" data-dismiss="popup" data-control="popup" data-handler="onForgotPassword">
			<span class="icon-question-circle">I forgot my password.</span></a>
			
		<div class="pull-right">
	    	<button type="submit" data-request="onUserLogin" data-hotkey="ctrl+enter, cmd+enter, enter" class="btn btn-danger">Login</button>
	    	<button type="submit" data-dismiss="popup" class="btn btn-default">Cancel</button>
	    </div>
    </div>
</form>

{% if enableAction %}
<a class="small help pop manual-login" href="#"><span class="icon-question-circle">I don't have my card.</span></a>
{% endif %}

<script type="text/javascript">
(function($) {

    $('<iframe>').attr('src', 'dma://showscanner').appendTo(document.documentElement).remove();

    $('.manual-login').click(function(e) {
        $('#login').show();
        $(this).hide();
        $('#card-scan.popup').height('auto');
        $('<iframe>').attr('src', 'dma://hidescanner').appendTo(document.documentElement).remove();
    });

    $('button.close').click(function(e) {
        $('<iframe>').attr('src', 'dma://hidescanner').appendTo(document.documentElement).remove();
    });
})(jQuery);
</script>
