<p>DMA Friends is a FREE program that allows you to discover new and fun activities at the DMA.</p>

<p>
The Museum has created bundles of activities, called badges, that are awarded to 
Friends who really plug in and make the DMA a vibrant place to be. Badges can 
give you new ideas about ways to use the Museum that you’ve never thought of before. 
Earning badges unlocks special rewards and recognition like free tickets, behind-the-scenes 
tours, discounts on shopping and dining, and access to exclusive experiences at the Museum. 
We love our Friends and want to make sure they feel appreciated, so get the most from your 
visit by joining the FREE DMA Friends program today.
</p>
