.user-badges {
    margin-top: 20px;
}

.preview {
    background: #ebeae6;
    color: #8d7c75;
    padding: 15px;
    height: 600px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    font-size: 0.8em;
}

.preview a {
    color: #8d7c75;
    text-decoration: none;
}

.most-recent-badge .preview {
    height: auto;
}

.preview .special {
    position: absolute;
    background: #00a4b0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    line-height: 11px;
    font-family: "Fedra Sans Screen Bold", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    padding: .5em 3em .38em;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 2;
}

.preview .progress-wrap {
    margin-left: -15px;
    padding: 0 15px;
    position: absolute;
    top: 120px;
    width: 100%;
}
.preview .progress {
    height: 20px;
    width: 100%;
    border: 3px solid white;
    border-radius: 10px;
    background: #d5cec8;
    z-index: 2;
}

.preview .progress-indicator {
    background: #febe10;
    height: 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.preview .special.limited-edition {
    top: 35px;
    left: -40px;
}
.preview .special.featured {
    top: 25px;
    left: -30px;
}

.friends-badge.preview h4 {
    border-top: 2px solid #fff;
    width: 120%;
    padding: 10px 15px 0 15px;
    margin: 10px 0 10px -15px;
}
.friends-activity.preview h4 {
    margin: 0 0 10px 0;
}

.friends-activity.preview {
    min-height: 170px;
}

.preview img {
    max-width: 100%;
}

.most-recent-badge h3 {
    margin-top: 0;
}

.times-earned {
    position: absolute;
    left: 5px;
    top: -10px;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background: #4e5f7d;
    color: #fff;
    border-radius: 100%;
    line-height: 2.65em;
    margin: 15px 0;
    text-align: center;
}

.badge-full .image {
    float: left;
    text-align: center;
}
.badge-full .image img {
    max-width: 100%;
}

.badge-full .steps {
    margin: 20px 0;
}
.step-indicator {
    display: inline-block;
    background-color: #d5cec8;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-right: 10px;
    float: left;
    font-size: 1.5em;
}

.step-indicator.icon-check {
    background-color: #febe10;
}
