.user-badges {
    margin-top: 20px;
}

.preview {
    background: #ebeae6;
    color: #8d7c75;
    padding: 15px;
    min-height: 360px;
    margin-bottom: 20px;
}

.friends-badge.preview h4 {
    margin: 10px 0;
}
.friends-activity.preview h4 {
    margin: 0 0 10px 0;
}

.friends-activity.preview {
    min-height: 170px;
}

.preview img {
    max-width: 100%;
}

.most-recent-badge h3 {
    margin-top: 0;
}
