.friends-reward.preview {
    background: #ebeae6;
    color: #8d7c75;
    margin-bottom: 20px;
    height: 180px;
    padding: 0;
}

.friends-reward button {
    width: 100%;
}

.friends-reward .image {
    padding-left: 0;
    float: left;
}

.friends-reward .image img {
    height: 180px;
    width: auto;
}

.friends-reward .description {
    float: left;
    padding-top: 10px;
}

.friends-reward .claim {
    float: right;
    padding-top: 10px;
}

.reward-buttons {
    margin-bottom: 20px;
}

.rewards-menu {
    margin: 20px 0;
}

.rewards-menu ul,
.rewards-menu ul li {
    display: inline;
    list-style: none;
    padding: 0;
}