/* `Defaults
----------------------------------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
  outline: none; }

html {
  /* Sets up the Base 10 stuff */
  font-size: 62.5%;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body,
h1,
h2,
h2 a,
h3,
h4,
h5,
h6,
p,
select,
textarea,
fieldset {
  color: #8d7c75;
  font-family: "Fedra Sans Screen Regular", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body.full-res {
  zoom: 1 !important;
  text-rendering: optimizeLegibility; }

blockquote, input, select, textarea, button, .button {
  background: #fff;
  color: #8d7c75;
  font-family: "Fedra Sans Screen Regular", "Helvetica Neue", sans-serif;
  display: inline-block;
  vertical-align: center;
  position: relative;
  margin: 0;
  color: #8d7c75;
}

p {
  margin: 10px 0;
}

input[type="button"], input[type="submit"], button, select, .button, .button:hover {
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 20px 20px 18px;
  text-align: center;
  border: none;
  cursor: pointer;
}

input.form-control {
  border: 2px solid #8d7c75 !important;
  border-radius: 0 !important;
  padding: 20px;
}
select.form-control {
  border: 2px solid #8d7c75 !important;
  border-radius: 0 !important;
  height: 44px;
}

label {
  font-weight: normal;
  text-transform: uppercase;
}
.form-group.is-required > label:after {
  margin-left: 5px;
}

.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active,
.btn-primary:hover,
.btn-primary {
  background-color: #00a4b0 !important;
  border-color: #00a4b0 !important;
  color: #fff;
}

.btn-default {
  border: 2px solid #d5cec8;
  background-color: #d5cec8;
  color: #8d7c75;
}

fieldset {
  border: 0; 
}

blockquote:disabled, input:disabled, select:disabled, textarea:disabled, button:disabled, .button:disabled {
  cursor: default; }

body.login {
  background: #2b2623 url('../images/DMA-BG.png') top left repeat;
}

.the-icons li [class^="icon-"], .the-icons li [class*=" icon-"] {
  width: 32px;
  font-size: 16px;
}

#layout-content .info-box {
  margin: 20% auto 0 auto;
  width: 50%;
}

#layout-content h3 {
  margin-bottom: 20px;
}

h4.user-name {
  color: #ec1c2e;
  margin-top: 15px;
  text-transform: capitalize;
}
.login {
  margin: 40px 0;
}
.login-box {
    background-color: #fff;
    padding: 20px;
}

.login-box .dma-logo:before {
    content: '';
    display: block;
    width: 278px;
    height: 57px;
    background: url(../images/assets.svg) top left no-repeat;
}

.login-box .button {
    width: 100%;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
}

/* hide the iframe for iPad bar code scanner */
.modal iframe { display: none;}

.bg-red, .button.alternate, button.alternate {
    background-color: #ec1c2e;
    color: #fff;
}

/**
 * Activity Code Form
 */
.dma-code-input {
    background: #febe10;
    padding: 10px;
    margin: 45px 0 20px 0;
}
.dma-code-input #activity-code {
  width: 100%;
  border: none;
  padding-left: 10px;
  padding-right: 0;
  font-size: 2em;
  height: 60px;
  border: 2px solid #8d7c75;
}
.dma-code-input .activity-submit:before {
  content: '';
  position: absolute;
  left: 14px;
  top: 25px;
  display: block;
  width: 42px;
  height: 62px;
  background: transparent url(images/assets.svg) 0 -590px no-repeat;
}
.dma-code-input .help.small:not(h1) {
  height: auto;
  padding: 25px 25px 25px inherit;
  background: #fee1ac;
  width: 600px;
  margin-left: -25px;
  margin-bottom: -25px;
}

.dma-code-input button {
  position: absolute;
  right: 30px;
  top: 60px;
  padding: 15px;
  background-color: #d5cec8;
  border-radius: 0;
}

/***********************************************************************
 * Primary links
 */
.primary-links {
  margin-bottom: 20px;
}

.primary-links .item {
    height: 150px;
    text-align: center;
}

.primary-links .item a:before {
  font-size: 6em;
  display: block;
  padding-top: 25px;
}
.primary-links .item a {
  display: block;
  width: 100%;
  height: 100%;
  background: #8d7c75;
  color: #fff;
  border: 1px solid #636466;
  text-decoration: none;
}

.nav-item:before {
  margin-right: 5px;
}

.primary-links .item a:hover {
  color: #CCC;
}

.main-menu .menu-item.active span:before, .main-menu .menu-item.active span:after {
  content: '';
  position: absolute;
  z-index: 1000;
  bottom: -1px;
  left: 50%;
  margin-left: -27px;
  border-bottom: 17px solid #fff;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-top: 0;
}

ul.nav.navbar-nav.left {
  margin-top: 0;
}

#layout-nav {
    color: #777;
    margin-bottom: 20px;
    background: #ebeae6;
}
#layout-nav a:hover {
    color: #777;
}

.navbar-collapse {
  padding: 0;
}

.nav .points {
    margin: 15px;
    display: block;
}

.nav.left {
  margin-top: 5px;
}

.nav.right {
  float: right;
}

.nav .user-avatar {
  margin-right: 10px;
}

/**
 * Flash Messages
 */
#flashMessages {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    z-index: 2000;
    font-size: 2em;
    text-align: center;
}

/**
 * Ajax indicator
 */
.stripe-loading-indicator {
  height: 10px !important;
}
.stripe-loading-indicator .stripe,
.stripe-loading-indicator .stripe-loaded {
  height: 10px!important;
  background: #ec1c2e !important;

}

.activity-stream .time-ago {
  float: right;
}

.activity-stream .filter-buttons-wrap li {
  list-style: none;
  margin: 32px 0;
}

.activity-stream .filter-buttons-wrap {
  margin: 0;
  padding: 0;
}
.activity-stream .filter-buttons-wrap li.first {
  margin-top: 0;
}

.filter-buttons-wrap .button.current {
  background: #ebeae6;
}

.activity-stream .filter-buttons-wrap li a {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  text-align: left;
  text-indent: 10px;
  margin: 0;
  line-height: 60px;
  font-size: 1.5em;
}
.activity-stream .filter-buttons-wrap li a:before {
  margin-right: 10px;
}

.filter-buttons-wrap .button {
  border: 2px solid #d5cec8;
  padding: .4em .3em .3em;
  margin-right: 10px;
  line-height: 1em;
  min-width: 120px;
  color: #8d7c75;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}

/**** Modal Dialog ****/
.modal-dialog {
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  position: absolute;
}
.modal-header {
  background: #fff;
  border-radius: 6px 6px 0 0;
  border: none;
}

.modal-header .close {
  color: #000;
}

.modal-title {
  color: #ec1c2e;
  font-size: 3em !important;
  margin-left: 15px;
  font-weight: normal !important;
}

.modal-body {
  padding: 10px 30px;
}

.modal-dialog .buttons {
  text-align: right;
  margin-top: 20px;
}

.modal-dialog .buttons .btn {
  margin: 0 0 0 10px;
}

/**** Carousel ****/
.carousel-inner > .item {
  padding: 0;
  margin: auto;
}

.carousel-inner .terms {
  height: 500px;
  overflow-x: scroll;
  padding: 10px;
}

#register .buttons .registration-prev {
  width: 35px;
}

#register .buttons .registration-next {
  width: 33%;
}

/**** Selectable ****/
.selectable .ui-selected img { 
  border: 5px solid #cc1c2e;
}
.selectable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}
.selectable li { 
  margin: 3px 0; 
  padding: 0.4em 15px; 
  font-size: 1.4em; 
  float: left;
}

.selectable img {
  max-width: 100%;
}

/***** Misc ******/

.preview img {
    max-width: 100%;
}

span.form-control-feedback {
  top: 30px;
}

.list-group-item {
  font-size: 1.5em;
  padding: 20px 15px;
}