description = "Default layout"

[UserTimeout]
timeout = "30"
==
<?php
function onStart()
{
    if (!$user = Auth::getUser()) {
        return Redirect::to('/');
    }
    
    $this['user'] = $user;
}
?>
==
{% partial "header" %}

<!-- Content -->
<section id="layout-content" class="container">
    <div class="row primary-links">
        <div class="item col-xs-3 col-md-3">
            <a class="icon-home" href="/friends">Home</a>
        </div>
        <div class="item col-xs-3 col-md-3">
            <a class="icon-circle-o" href="/badges">My Badges</a>
        </div>
        <div class="item col-xs-3 col-md-3">
            <a class="icon-trophy" href="/rewards">Get Rewards</a>
        </div>
        <div class="item col-xs-3 col-md-3">
            <a class="icon-user" href="/profile">My Profile</a>
        </div>
        </ul>
    </div>
    
    {% page %}
    
    {% component 'UserTimeout' %}
</section>

{% partial "footer" %}